.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 0.75rem;
    border-bottom: 1px solid #eee;
  }
  
  .noData {
    text-align: center;
    padding: 1rem;
    color: #666;
  }
  
.row {
  cursor: pointer;
}
.row:hover {
  background-color: rgba(0, 112, 243, 0.05);
}